.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav {
    position: fixed;
    z-index: 1;
    background-color: white;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}

.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    margin-left: 50px;
}

.pages {
    display: flex;
    gap: 50px;
    margin: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.login {
    font-size: medium;
    border: 1px solid blue;
    color: blue;
    background-color: white;
    padding: 5px 10px;
    margin-right: 50px;
}

.herosection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: aliceblue;
    margin: 0px 50px;
}

.content {
    margin: 50px;

}

.heroimg {
    width: 600px;
}

input {
    width: 500px;
    border-radius: 20px;
    border: 1px solid grey;
    padding: 5px 10px;
}

.cardscontainer,
.degreecontainer,
.freecontainer,
.catcont {
    margin: 30px 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.footer {
    text-align: center;
    color: black;
    font-weight: bold;
    margin: 50px;
}